:root {
  --bingo-yellow: #ffb962;
  --bingo-pink: #d10089;
  --bingo-red: #c7062d;
  --bingo-purple: #7b018c;
  --bingo-turq: #4de9ca;
  --bingo-blue: #0b9bf4;
  --bingo-bg-color: #1e1d1f;
  --bingo-text-color: #e5d0cc;
  --bingo-gray: #534d4d;
  --glass: rgba(26, 26, 26, 0.3);
  --glass-hover: rgba(255, 255, 255, 0.3);
  --white: #eceae5;

  background-color: var(--bingo-bg-color);
  color: var(--white);
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bingo-bg-color);
  color: var(--white);
}

.circle {
  --circle-size: 3rem;
  width: var(--circle-size);
  min-width: 45px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
}

.circle::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.ge-nav-bar {
  background-color: rgba(0, 0, 0, 0.208);
  /* background-image: url(./components/GoldenEye/images/adultbingohomepage.png); */
  background-blend-mode: luminosity;
  backdrop-filter: blur(20px);

  -webkit-backdrop-filter: blur(20px);
  --bs-nav-link-color: var(--white);
  --bs-nav-link-hover-color: var(--white);
}

.nav-logo.disabled {
  font-family: "Dollie Script Personal Use", sans-serif;
  font-size: 3vw;
  color: var(--bingo-blue);
  letter-spacing: 0.12vw;
  border-bottom: none;
}

.ge-nav-bar .nav-link.active {
  color: var(--bingo-yellow);
  font-weight: 700;
}

.circle.yt-nav-btn {
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.2s ease-in-out;
}

.circle.yt-nav-btn:hover {
  color: red;
}

.dropdown-toggle::after {
  display: none;
}

.sidebar {
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: 20vw;
  background-blend-mode: luminosity;
  backdrop-filter: blur(30px);
  transition: right 0.3s ease;
  z-index: 2;
}

.sidebar.show {
  right: 0;
  width: 100%;
}

.modal-dupe {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1055;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal-dupe.active {
  display: flex;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.btn-glass {
  /* background: rgba(225, 134, 229, 0.5); */
  background-color: var(--glass);
  color: var(--white);
  background-blend-mode: luminosity;
  backdrop-filter: blur(30px);
  transition: all 0.25s linear;
}

.btn-glass:hover {
  background-color: var(--glass-hover);
  color: var(--white);
  background-blend-mode: luminosity;
  backdrop-filter: blur(30px);
  transition: all 0.25s linear;
}

.btn-simple {
  background-color: rgba(255, 255, 255, 0.891);
  color: var(--bingo-gray);
  font-weight: 700;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bingo-gray);
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(30px);
}

.btn-outline-turq {
  --bs-btn-color: var(--bingo-blue);
  --bs-btn-border-color: var(--bingo-blue);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bingo-blue);
  --bs-btn-hover-border-color: var(--bingo-blue);
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bingo-blue);
  --bs-btn-active-border-color: var(--bingo-blue);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bingo-blue);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bingo-blue);
  --bs-gradient: none;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ad0dfd;
  /* 1 */
  --bs-btn-border-color: #ad0dfd;
  /* 1 */
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #920bd5;
  /* 2 */
  --bs-btn-hover-border-color: #8c0acd;
  /* 3 */
  --bs-btn-focus-shadow-rgb: 185, 48, 253;
  /* 5 */
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8c0acd;
  /* 3 */
  --bs-btn-active-border-color: #810abd;
  /* 4 */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ad0dfd;
  /* 1 */
  --bs-btn-disabled-border-color: #ad0dfd;
  /* 1 */
}

.circle.pattern-cell {
  border-color: var(--bingo-blue) !important;
}

.buttons-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bingo-ball {
  font-family: "Jetbrains Mono", monospace;
  font-size: 2vw;
}

.bingo-ball-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
background-color: var(--bingo-bg-color);
}

.display-letter {
  text-shadow: 0 0 5px #ff1493, 0 0 10px #ff1493, 0 0 15px #ff1493,
    0 0 20px #ff1493, 0 0 35px #ff1493, 0 0 40px #ff1493, 0 0 50px #ff1493,
    0 0 75px #ff1493;
  /* font-size: 2.2rem; */
  font-size: calc(max(2vw, 2vh));
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  min-width: 5%;
}

.display-num {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 0%;
  text-align: center;
  color: rgba(255, 255, 255, 0.05);
  transition: all 0.3s ease;
  /* font-size: 2rem; */
  font-size: calc(max(2vw, 2vh));
}

@keyframes neonGlowHover {
  0%,
  100% {
    text-shadow: 0 0 5px #ff1493, 0 0 10px #ff1493, 0 0 20px #ff1493,
      0 0 30px rgba(255, 20, 147, 0.5), 0 0 40px rgba(255, 20, 147, 0.4),
      0 0 50px rgba(255, 20, 147, 0.3);
    transform: scale(1.5);
  }

  50% {
    text-shadow: 0 0 10px #ff1493, 0 0 20px #ff1493, 0 0 30px #ff1493,
      0 0 40px rgba(255, 20, 147, 0.7), 0 0 50px rgba(255, 20, 147, 0.6),
      0 0 60px rgba(255, 20, 147, 0.5);
    transform: scale(2);
  }
}

.display-num.current {
  color: #fff;
  font-weight: 700;
  animation: neonGlowHover 1s infinite ease-in-out;
}

.display-num.called {
  color: #cecace;
  font-weight: 500;
}


@keyframes marquee {
  0% { transform: translateX(100%); }
  50% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }

  0% { -webkit-transform: translateX(100%); }
  50% { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(100%); }
}

.instruction-display {
  color: var(--bingo-red);
  text-transform: uppercase;
  font-size: 1.5rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 10s linear infinite;
  /* -webkit-animation: marquee 10s linear infinite; */
}

.marquee-container {
  overflow: hidden;
}

.clear-board-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
